<%= form_for @material, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :quantity, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :unit, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :unit, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :volume, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :volume, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :suplier, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :suplier, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :minimum_stock, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :minimum_stock, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  materials_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
