<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Fabricated at:</strong>
  <%= @product.fabricated_at %>
</p>

<p>
  <strong>Line:</strong>
  <%= @product.line %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
